html,
body {
  overflow-x: hidden; }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #094572;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a strong {
    color: inherit; }

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem; }

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5; }

th {
  text-align: left; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

body {
  background: #fff;
  color: #222;
  font-family: "Amethysta", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5; }
  @media (max-width: 599px) {
    body {
      line-height: 1.5625; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Yantramanav", serif;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  word-wrap: break-word; }

h1,
.h1 {
  font-size: 3.25em; }
  @media (max-width: 599px) {
    h1,
    .h1 {
      font-size: 2.125em; } }

h2,
.h2 {
  font-size: 2.875em; }
  @media (max-width: 599px) {
    h2,
    .h2 {
      font-size: 1.875em; } }

h3,
.h3 {
  font-size: 2.375em; }
  @media (max-width: 599px) {
    h3,
    .h3 {
      font-size: 1.625em; } }

h4,
.h4 {
  font-size: 1.875em; }
  @media (max-width: 599px) {
    h4,
    .h4 {
      font-size: 1.375em; } }

h5,
.h5 {
  font-size: 1.375em; }
  @media (max-width: 599px) {
    h5,
    .h5 {
      font-size: 1.125em; } }

h6,
.h6 {
  font-size: 1.125em; }
  @media (max-width: 599px) {
    h6,
    .h6 {
      font-size: 1em; } }

p {
  font-size: 1em;
  margin: 0 0 0.625em; }

a {
  background-color: transparent;
  color: #094572;
  text-decoration: none;
  word-wrap: break-word; }
  a:active, a:focus, a:hover {
    outline: 0;
    color: #062e4c;
    text-decoration: underline; }

hr {
  border: 0;
  border-top: 1px solid #f7f9fb;
  border-bottom: 0 solid #fff;
  box-sizing: content-box;
  margin: 2em auto;
  overflow: visible; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  font-size: 1.125em;
  font-style: italic;
  margin: 0 0 0.625em;
  padding-left: 0.84211em;
  padding-right: 0.84211em;
  border-left: 2px solid #008f8b; }
  blockquote cite {
    color: #808080;
    font-size: 0.84211em;
    padding-top: 1em; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/*.home .header {
  background-color: transparent;
}*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 30px;
  background-color: transparent;
  z-index: 2001;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: background 0.2s ease-in; }
  .header.is-fixed {
    position: fixed;
    background-color: #111; }
    @media (max-width: 599px) {
      .header.is-fixed {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px); } }

.logo a {
  color: white;
  font-weight: 700; }

.logo img {
  margin: 0;
  width: 100%;
  max-width: 200px; }

.nav-primary {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media (min-width: 600px) {
    .nav-primary {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .nav-primary li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .nav-primary a {
    margin: 0 0.9375em;
    padding-bottom: 0.3125em;
    color: #fff;
    font-size: 1.125em;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden; }
    .nav-primary a:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: #fff;
      height: 2px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .nav-primary a:hover {
      text-decoration: none; }
    .nav-primary a:hover:before {
      left: 0;
      right: 0; }

@media (min-width: 600px) {
  .nav-mobile,
  .nav-toggle {
    display: none; } }

.nav-mobile {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background: #282828;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  font-size: 1.125em;
  text-transform: uppercase;
  z-index: 8000;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: ease-out 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, ease-out 0.4s;
  transition: transform 0.4s, ease-out 0.4s, -webkit-transform 0.4s;
  will-change: transform; }
  .nav-mobile.nav-open {
    opacity: 1;
    overflow-y: scroll;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

body.nav-open {
  position: fixed;
  overflow-y: hidden; }
  body.nav-open .header {
    background: black; }

.nav-mobile-wrap {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .nav-mobile-wrap li {
    border-bottom: 1px solid #fff; }
    .nav-mobile-wrap li:last-child {
      border-bottom: none; }
  .nav-mobile-wrap a {
    display: block;
    padding: 0.625em 0;
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    text-decoration: none; }
    .nav-mobile-wrap a:hover, .nav-mobile-wrap a:focus {
      background: #0c5993; }

.nav-toggle {
  width: 35px;
  height: 20px;
  position: relative;
  margin: 0;
  margin-right: 15px;
  cursor: pointer;
  z-index: 99999; }
  .nav-toggle .line {
    display: block;
    position: absolute;
    right: 0;
    background: #fff;
    width: 35px;
    height: 3px;
    transition: all 0.25s; }
    .nav-toggle .line.line-1 {
      top: 0; }
    .nav-toggle .line.line-2 {
      top: 50%;
      width: 29.16667px; }
    .nav-toggle .line.line-3 {
      top: 100%; }
  .nav-toggle:hover .line-1, .nav-toggle:focus .line-1 {
    -webkit-transform: translateY(-1.5px);
            transform: translateY(-1.5px); }
  .nav-toggle:hover .line-3, .nav-toggle:focus .line-3 {
    -webkit-transform: translateY(1.5px);
            transform: translateY(1.5px); }
  .nav-toggle.active .line-1 {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
            transform: translateY(10px) translateX(0) rotate(45deg); }
  .nav-toggle.active .line-2 {
    opacity: 0; }
  .nav-toggle.active .line-3 {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
            transform: translateY(-10px) translateX(0) rotate(-45deg); }

.site {
  overflow-x: hidden; }

.hero {
  position: relative;
  background-color: #0c5993;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1; }
  .hero > * {
    z-index: 2; }
  .hero.has-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 89, 147, 0.75);
    z-index: -1; }
  .hero .hero-text {
    color: #fff;
    text-align: center; }
    .hero .hero-text .hero-title {
      font-family: "Yantramanav", serif; }
    .hero .hero-text .hero-subtitle {
      margin: 15px auto 30px; }
      @media (min-width: 900px) {
        .hero .hero-text .hero-subtitle {
          max-width: 65%; } }

.hero.hero-type-slider {
  width: 100%;
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1; }
  @media (max-width: 599px) {
    .hero.hero-type-slider {
      overflow-y: scroll; }
      .hero.hero-type-slider .hero-text {
        padding: 0; } }
  .hero.hero-type-slider.is-selected {
    opacity: 1;
    z-index: 0; }
    .hero.hero-type-slider.is-selected .hero-text {
      opacity: 1;
      z-index: 0; }
  .hero.hero-type-slider .hero-text {
    opacity: 0; }

.page-header {
  padding: 150px 0 75px;
  background-color: #0c5993; }
  @media (max-width: 599px) {
    .page-header {
      padding-top: 200px;
      padding-bottom: 125px; } }

@media (min-width: 900px) {
  .section-heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; } }

.section-wrap {
  padding-top: 60px;
  padding-bottom: 60px; }

.section-wrap-lg {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (min-width: 900px) {
    .section-wrap-lg {
      padding-top: 150px;
      padding-bottom: 150px; } }

.section-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Yantramanav", serif; }

.entry-content > * {
  font-family: "Amethysta", sans-serif; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  font-family: "Yantramanav", serif; }

.entry-content p {
  margin: 0 0 1.25em; }

.entry-content a {
  color: #008f8b;
  text-decoration: underline; }

.entry-content iframe {
  width: 100%; }

.btn, .gform_button {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  min-width: 200px;
  padding: 0.75em 1.5625em;
  font-family: "Yantramanav", serif;
  font-size: 1em;
  color: #fff;
  background-color: #0c5993;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap; }
  .btn.primary, .primary.gform_button {
    background-color: #0c5993; }
    .btn.primary:hover, .primary.gform_button:hover {
      text-decoration: none;
      background-color: #09426d;
      color: #fff;
      transition: all 0.2s ease-out; }
    .btn.primary:active, .primary.gform_button:active {
      text-decoration: none;
      background-color: #02121d; }
  .btn.secondary, .gform_button {
    background-color: #008f8b; }
    .btn.secondary:hover, .gform_button:hover {
      text-decoration: none;
      background-color: #006663;
      color: #fff;
      transition: all 0.2s ease-out; }
    .btn.secondary:active, .gform_button:active {
      text-decoration: none;
      background-color: #00100f; }
  .btn.white, .white.gform_button {
    background-color: #fff;
    color: #0c5993; }
    .btn.white:hover, .white.gform_button:hover {
      text-decoration: none;
      background-color: #ebebeb;
      color: #fff;
      transition: all 0.2s ease-out; }
    .btn.white:active, .white.gform_button:active {
      text-decoration: none;
      background-color: #bfbfbf; }
  .btn.rounded, .rounded.gform_button {
    border-radius: 100px; }
  .btn.icon, .icon.gform_button {
    background-position: 13px 13px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 48px; }

input,
textarea,
select {
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-size: 1em;
  background: #fff;
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.2s ease-out; }
  input:active, input:focus,
  textarea:active,
  textarea:focus,
  select:active,
  select:focus {
    border-color: #008f8b; }

@media (min-width: 900px) {
  textarea {
    min-height: 300px; } }

select {
  height: 50px;
  font-size: 0.875em;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 98% 58%;
  background-repeat: no-repeat; }

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  padding: 5px;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox; }

fieldset {
  border: none; }

label {
  display: inline-block;
  margin-bottom: 2px;
  color: #222; }

div.wpcf7-validation-errors {
  border: none; }

div.wpcf7-response-output {
  position: absolute;
  width: 100%;
  bottom: -60px;
  border: none;
  font-family: "Amethysta", sans-serif; }

.wpcf7-not-valid {
  border-color: #880e14; }

.search-form {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  background: transparent; }
  .search-form .search-field {
    position: relative;
    outline: 0;
    border: none;
    background: transparent;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: 1.125em;
    color: #676767;
    border-bottom: 1px solid #222;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: all 0.2s ease-in-out; }
    .search-form .search-field:focus {
      border-color: black; }

.search-submit {
  position: absolute;
  bottom: 0;
  right: 15px;
  padding: 15px 0;
  border: none;
  background: transparent;
  outline: 0; }

.search-svg {
  width: 1em;
  height: 1em;
  font-size: 24px;
  fill: currentColor;
  color: #0c5993; }
  .search-svg:hover {
    cursor: pointer;
    color: #006b68; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a2a2a2; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a2a2a2;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a2a2a2;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a2a2a2; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a2a2a2; }

.gform_wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.gform_wrapper form {
  margin-bottom: 0; }

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: #880e14; }

.gf_left_half,
.gf_right_half {
  width: 100%; }
  @media (min-width: 600px) {
    .gf_left_half,
    .gf_right_half {
      width: 49%;
      float: left; } }

@media (min-width: 600px) {
  .gf_left_half {
    margin-right: 2%; } }

.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  margin-bottom: 20px;
  background-color: #fff; }
  .ginput_container input:focus,
  .ginput_container select:focus,
  .ginput_container textarea:focus {
    border-color: #008f8b; }

.ginput_container textarea {
  height: auto; }

.gform_wrapper .gfield_error .gfield_label {
  color: #880e14; }

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  border-color: #880e14;
  background-color: #fff; }

.validation_error {
  color: #880e14; }

.gform_confirmation_message {
  min-height: 200px;
  text-align: center; }

.flickity-slider {
  -webkit-transform: none !important;
          transform: none !important; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #008f8b;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #008f8b; }

.gallery {
  position: relative;
  outline: none; }

.text-white {
  color: #fff; }

.text-primary {
  color: #0c5993; }

.text-secondary {
  color: #008f8b; }

.text-body {
  color: #222; }

.bg-white {
  background: #fff;
  color: #222; }

.bg-primary {
  background: #0c5993;
  color: #fff; }

.bg-secondary {
  background: #008f8b;
  color: #222; }

.bg-gray {
  background: #555;
  color: #222; }

.bg-black {
  background: #111;
  color: #fff; }

.bg-img-cover {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center; }
  .bg-img-cover.has-overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(12, 89, 147, 0.5);
    z-index: -1; }

.hr {
  border-color: #fff; }
  .hr.dark {
    border-color: #111; }

.border-bottom {
  border-bottom: 1px solid #555; }

.full-height {
  height: 100vh; }

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.padded {
  padding: 15px; }

.pad-top {
  padding-top: 30px; }

@media (max-width: 599px) {
  .pad-top-phone {
    padding-top: 30px; } }

.pad-btm {
  padding-bottom: 30px; }

@media (max-width: 599px) {
  .pad-btm-phone {
    padding-bottom: 30px; } }

.no-pad {
  padding: 0; }

.no-pad-l {
  padding-left: 0; }

.no-pad-r {
  padding-right: 0; }

.no-pad-t {
  padding-top: 0; }

.no-pad-b {
  padding-bottom: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.underline {
  text-decoration: underline; }

.no-underline {
  text-decoration: none; }
  .no-underline:hover, .no-underline:focus {
    text-decoration: none; }

@media (max-width: 599px) {
  .hidden-phone {
    display: none !important; } }

.visible-phone {
  display: none; }
  @media (max-width: 599px) {
    .visible-phone {
      display: block !important; } }

.arrow-right {
  display: inline-block;
  width: 100%;
  cursor: pointer; }
  .arrow-right:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-right: 2px solid #008f8b;
    border-bottom: 2px solid #008f8b;
    right: 30px;
    bottom: calc(50% - 15px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    transition: all 0.2s ease-in-out; }

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0); }
  50% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50.1% {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0); } }

@keyframes arrowDown {
  0% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0); }
  50% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50.1% {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0); } }
