// PLUGINS

// General Gravity Form styles
.gform_wrapper {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {}
  form {
    margin-bottom: 0;
  }
  .gfield_required {
    padding-left: 1px;
    color: $color-error;
  }
}

// l/r columns
.gf_left_half,
.gf_right_half {
  width: 100%;
  @include for-size(tablet-portrait-up) {
    width: 49%;
    float: left;
  }
}

.gf_left_half {
  @include for-size(tablet-portrait-up) {
    margin-right: 2%;
  }
}

.ginput_container input,
.ginput_container select,
.ginput_container textarea {
	//@extend .form-control;
  margin-bottom: 20px;
  background-color: $color-white;
  &:focus {
    border-color: $color-secondary;
  }
}

.ginput_container textarea {
  height: auto;
}

.gform_button {
	@extend .btn;
	@extend .btn.secondary;
}

.gform_wrapper .gfield_error {
  .gfield_label {
    color: $color-error;
  }
  input,
  select,
  textarea {
    border-color: $color-error;
    background-color: $color-white
  }
}
.validation_error {
	color: $color-error
}
#gforms_confirmation_message {}

.gform_confirmation_message {
  min-height: 200px;
  text-align: center;
}



// Flickity Slider
.flickity-slider {
  transform: none !important;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots { direction: rtl; }
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-secondary;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: $color-secondary;
}
.gallery {
  position: relative;
  outline: none;
}
