// PAGE LAYOUT
// Major page structure + classes

.site {} //wraps entire site, if needed

// Page Hero
.hero {
  padding: 150px 0 75px;
  @include breakpoint(md) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero,
.page-header {
  position: relative;
  background-color: $color-primary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  animation: fadeIn 0.2s linear;
  > * {
    z-index: 1;
  }
  &.has-overlay {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-primary, 0.75);
      z-index: -1;
    }
  }
  .hero-text {
    color: $color-white;
    text-align: center;
    .hero-title {
      font-family: $font-heading;
    }
    .hero-subtitle {
      margin: 15px auto 30px;
      @include for-size(phone-only) {
        max-width: 65%;
      }
    }
  }
}

.hero.hero-type-slider {
  width: 100%;
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
  @include for-size(phone-only) {
    overflow-y: scroll;
    .hero-text {
      padding: 0;
    }
  }
  &.is-selected {
    opacity: 1;
    z-index: 0;
    .hero-text {
      opacity: 1;
      z-index: 0
    }
  }
  .hero-text {
    opacity: 0;
  }
}
// Flickity slider, if hero type == "slider"
.flickity-slider {
  transform: none !important;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots { direction: rtl; }
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-secondary;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: $color-secondary;
}
.gallery {
  position: relative;
  outline: none;
}


// Page Header
.page-header {
  padding: 150px 0 75px;
  background-color: $color-primary;
  @include for-size(phone-only) {
    padding-top: 200px;
    padding-bottom: 125px;
  }
}

// Section Header & it's content
.section-heading {
  @include for-size(phone-only) {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.section-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-wrap-lg {
  padding-top: 60px;
  padding-bottom: 60px;
  @include for-size(phone-only) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.section-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: $font-heading;
}


// Interior page default
.page-interior {

}

// Interior page default, basic content
.interior-basic-content {

}



// Search Results page
.page-search {

}


// Single & Default page content
.page-single {

}

.entry-content {
  > * {
    font-family: $font-body; 
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
  }
  a {
    color: $color-secondary;
    text-decoration: underline;
  }
  iframe {
    width: 100%;
  }
}
