// Buttons
@mixin button-bg($bg) {
  background-color: $bg;
  &:hover {
    text-decoration: none;
    background-color: darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    text-decoration: none;
    background-color: darken($bg,25%);
  }
}

.btn {
  display: inline-block;
  margin: 0;
  padding: calc-em(9px) calc-em(25px);
  font-family: $font-body;
  font-size: calc-em(16px);
  color: $color-white;
  background-color: $color-primary;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  &.primary {
    @include button-bg($color-primary);
  }
  &.secondary {
    @include button-bg($color-secondary);
  }
  &.white {
    @include button-bg($color-white);
    color: $color-primary;
  }
  &.rounded {
    border-radius: 100px;
  }
  &.icon {
    //background-image: url();
    background-position: 13px 13px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 48px;
    &.icon-name {
      //background-image: url('../assets/img/icon-name.png');
    }
  }
}
